<h3 class="mb-8 p-4 border-b-2 border-placeholder"><a id="<%= id %>" class="mr-4">#</a>Height</h3>
<div class="bg-placeholder p-8 mb-8">
    <div class="flex gap-8 items-end">
        <div class="h-96 p-4 mb-4 bg-white">h-96</div>
        <div class="h-80 p-4 mb-4 bg-white">h-80</div>
        <div class="h-64 p-4 mb-4 bg-white">h-64</div>
        <div class="h-48 p-4 mb-4 bg-white">h-48</div>
        <div class="h-32 p-4 mb-4 bg-white">h-32</div>
        <div class="h-16 p-4 mb-4 bg-white">h-16</div>
    </div>
    <div class="text-center mt-4">Fixed</div>
</div>