<h2 class="mb-8 p-4 border-b-2 border-placeholder"><a id="<%= id %>" class="mr-4">#</a>Aspect Ratio</h2>
<div class="grid grid-cols-1 md:grid-cols-4">
  <div class="text-center">
    <div>Auto</div>
    <img
      class="placeholder-256x256 aspect-auto inline-block"
      width="256"
      height="256"
    />
  </div>
  <div class="text-center">
    <div>Square</div>
    <img
      class="placeholder-256x256 aspect-square inline-block"
      width="256"
      height="256"
    />
  </div>
  <div class="text-center">
    <div>Video</div>
    <img
      class="placeholder-256x256 aspect-video inline-block"
      width="256"
      height="256"
    />
  </div>
  <div class="text-center">
    <div>Custom</div>
    <img
      class="placeholder-256x256 aspect-custom inline-block"
      width="256"
      height="256"
    />
  </div>
</div>
