<h3 class="mb-8 p-4 border-b-2 border-placeholder"><a id="<%= id %>" class="mr-4">#</a>Box decoration</h3>
<div class="columns-1 sm:columns-3 gap-8 text-center">
    <div class="p-32">
        <span class="bg-gradient-to-r from-placeholder to-black text-white p-3 leading-[46px]">One Line</span>
    </div>
    <div class="p-32">
        <span class="box-decoration-slice bg-gradient-to-r from-placeholder to-black text-white p-3 leading-[46px]">Two Lines<br/>Sliced</span>
    </div>
    <div class="p-32">
        <span class="box-decoration-clone bg-gradient-to-r from-placeholder to-black text-white p-3 leading-[46px]">Two Lines<br/>Cloned</span>
    </div>
</div>