<h3 class="mb-8 p-4 border-b-2 border-placeholder"><a id="<%= id %>" class="mr-4">#</a>Break</h3>
<p>this has limited support so might not work on some browsers. Working property, should break the columns after the first one. At the time of writing this, Chrome has support, but Firefox does not. Please reffer to <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/break-after">mozilla dev docs</a> for more info. Notice the margin distribution, we use bottom to ensure that margins are correct for both cases, when property works or not.
    <br/>
    Additional similar properties are break-before and break-inside.
</p>

<div class="columns-2 gap-8 text-center">
    <p class="p-32 break-after-column bg-placeholder text-placeholder mb-8">First</p>
    <p class="p-32 bg-placeholder text-placeholder mb-8">Second</p>
    <p class="p-32 bg-placeholder text-placeholder mb-8">Third</p>
    <p class="p-32 bg-placeholder text-placeholder">Forth</p>
</div>