<h3 class="mb-8 p-4 border-b-2 border-placeholder"><a id="<%= id %>" class="mr-4">#</a>Columns</h3>
<div class="relative columns-1 md:columns-3 gap-8">
    <div>
        <img class="w-full aspect-video placeholder-256x256" alt="1"/>
    </div>
    <div class="mt-8">
        <img class="w-full placeholder-256x256" alt="2"/>
    </div>
    <div class="mt-8">
        <img class="w-full placeholder-256x256" alt="3"/>
    </div>
    <div class="mt-8 sm:mt-0">
        <img class="w-full placeholder-256x256" alt="4"/>
    </div>
    <div class="mt-8">
        <img class="w-full aspect-video placeholder-256x256" alt="5"/>
    </div>
    <div class="mt-8">
        <img class="w-full placeholder-256x256" alt="6"/>
    </div>
    <div class="mt-8 sm:mt-0">
        <img class="w-full placeholder-256x256" alt="7"/>
    </div>
    <div class="mt-8">
        <img class="w-full placeholder-256x256" alt="8"/>
    </div>
    <div class="mt-8">
        <img class="w-full aspect-video placeholder-256x256" alt="9"/>
    </div>
</div>