<h2 class="mb-8 p-4 border-b-2 border-placeholder"><a id="<%= id %>" class="mr-4">#</a>Display</h2>
<div>
    <div class="bg-placeholder p-3 mb-8">This is regular div block.</div>
    <span class="block bg-placeholder p-3 mb-8">This is a span displayed as block element.</span>
    <span class="bg-placeholder p-3">This is an <div class="inline bg-white">inline div</div> inside a span.</span>
</div>
