<h2 class="mb-8 p-4 border-b-2 border-placeholder"><a id="<%= id %>" class="mr-4">#</a>Object Fit</h2>
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols:5 gap-8">
    <div class="bg-black p-8">
        <div class="text-center mx-auto h-24 w-48 bg-white">
            <img class="object-cover placeholder-256x256 h-24 w-full" />
        </div>
        <div class="text-center text-white mt-4">Cover</div>
    </div>

    <div class="bg-black p-8">
        <div class="text-center mx-auto h-24 w-48 bg-white">
            <img class="object-contain placeholder-256x256 h-24 w-full" />
        </div>
        <div class="text-center text-white mt-4">Contain</div>
    </div>

    <div class="bg-black p-8">
        <div class="text-center mx-auto h-24 w-48 bg-white">
            <img class="object-fill placeholder-256x256 h-24 w-full" />
        </div>
        <div class="text-center text-white mt-4">Fill</div>
    </div>

    <div class="bg-black p-8">
        <div class="text-center mx-auto h-24 w-48 bg-white">
            <img class="object-scale-down placeholder-256x256 h-24 w-full" />
        </div>
        <div class="text-center text-white mt-4">Scale down</div>
    </div>

    <div class="bg-black p-8">
        <div class="text-center mx-auto h-24 w-48 bg-white">
            <img class="object-none placeholder-256x256 h-24 w-full" />
        </div>
        <div class="text-center text-white mt-4">None</div>
    </div>
</div>