<h3 class="mb-8 p-4 border-b-2 border-placeholder"><a id="<%= id %>" class="mr-4">#</a>Position</h3>
<div class="grid grid-cols-1 sm:grid-cols-2 gap-8">
  <div class="relative">
    <div class="relative">
      <div class="bg-placeholder p-4">
        <div class="static p-32 bg-white">
          <p class="text-center">Static parent</p>
          <div class="absolute bottom-0 left-0 bg-black text-white p-8">
            <p>Absolute child</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="relative">
    <div class="relative">
      <div class="bg-placeholder p-4">
        <div class="relative p-32 bg-white">
          <p class="text-center">Relative parent</p>
          <div class="absolute bottom-0 left-0 bg-black text-white p-8">
            <p>Absolute child</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="relative">
    <div class="relative">
      <div class="bg-placeholder p-4">
        <div class="p-32 bg-white">
          <p class="text-center">Relative parent</p>
          <div class="absolute bottom-0 left-0 bg-black text-white p-8">
            <p>Fixed child</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="relative h-[312px]">
    <div class="relative h-full bg-placeholder p-4">
      <div class="overflow-y-auto h-full">
        <div class="sticky top-0 bg-black text-white px-8 py-4">A</div>
        <div class="bg-white px-8 py-4">Amando</div>
        <div class="bg-white px-8 py-4">Amelia</div>
        <div class="bg-white px-8 py-4">Anders</div>
        <div class="bg-white px-8 py-4">Ansi</div>
        <div class="bg-white px-8 py-4">Anton</div>
        <div class="bg-white px-8 py-4">Anty</div>
        <div class="bg-white px-8 py-4">Augustina</div>
        <div class="sticky top-0 bg-black text-white px-8 py-4">B</div>
        <div class="bg-white px-8 py-4">Bambi</div>
        <div class="bg-white px-8 py-4">Ben</div>
        <div class="bg-white px-8 py-4">Borro</div>
        <div class="bg-white px-8 py-4">Brad</div>
      </div>
    </div>
  </div>
</div>

<div class="grid grid-cols-1 sm:grid-cols-3 gap-8 mt-8">
  <div class="relative bg-placeholder h-64">
    <div class="absolute left-0 top-0 h-16 w-16 bg-black text-center text-white flex items-center justify-center">top<br>left</div>
  </div>

  <div class="relative bg-placeholder h-64">
    <div class="absolute inset-x-0 top-0 h-16 bg-black text-center text-white flex items-center justify-center">top<br>inset</div>
  </div>

  <div class="relative bg-placeholder h-64">
    <div class="absolute right-0 top-0 h-16 w-16 bg-black text-center text-white flex items-center justify-center">top<br>right</div>
  </div>

  <div class="relative bg-placeholder h-64">
    <div class="absolute inset-y-0 left-0 w-16 bg-black text-center text-white flex items-center justify-center">left<br>inset</div>
  </div>

  <div class="relative bg-placeholder h-64">
    <div class="absolute inset-0 bg-black text-center text-white flex items-center justify-center">inset</div>
  </div>

  <div class="relative bg-placeholder h-64">
    <div class="absolute right-0 inset-y-0 w-16 bg-black text-center text-white flex items-center justify-center">right<br>inset</div>
  </div>

  <div class="relative bg-placeholder h-64">
    <div class="absolute left-0 bottom-0 h-16 w-16 bg-black text-center text-white flex items-center justify-center">bottom<br>left</div>
  </div>

  <div class="relative bg-placeholder h-64">
    <div class="absolute inset-x-0 bottom-0 h-16 bg-black text-center text-white flex items-center justify-center">bottom<br>inset</div>
  </div>

  <div class="relative bg-placeholder h-64">
    <div class="absolute right-0 bottom-0 h-16 bg-black text-center text-white flex items-center justify-center">right<br>bottom</div>
  </div>
</div>
