<h2 class="mb-8 p-4 border-b-2 border-placeholder"><a id="<%= id %>" class="mr-4">#</a>Visibility</h2>
<div class="grid grid-cols-1 sm:grid-cols-3 gap-8">
    <div class="p-4 flex items-center justify-center bg-placeholder">01</div>
    <div class="p-4 flex items-center justify-center bg-placeholder invisible">02</div>
    <div class="p-4 flex items-center justify-center bg-placeholder">03</div>
</div>