<h3 class="mb-8 p-4 border-b-2 border-placeholder"><a id="<%= id %>" class="mr-4">#</a>Origin</h3>

<div class="bg-placeholder p-8 mb-8">
    <div class="grid grid-cols-2 sm:grid-cols-4 gap-8">
        <% [
            'origin-center', 
            'origin-top', 
            'origin-top-right', 
            'origin-right', 
            'origin-bottom-right', 
            'origin-bottom', 
            'origin-bottom-left', 
            'origin-left', 
            'origin-top-left', 
        ].forEach(x => { %>
        <div>
            <div class="relative mx-auto w-16 h-16">
                <div class="<%= x %> relative rotate-45 border-black border-2 w-full h-full bg-gradient-to-b from-blue-500"></div>
                <div class="absolute top-0 left-[calc(50%-32px)] w-full h-full bg-rose-500 opacity-25"></div>
            </div>
            <div class="text-center mt-4"><%= x %></div>
        </div>
        <% }); %>
    </div>
</div>