<h3 class="mb-8 p-4 border-b-2 border-placeholder"><a id="<%= id %>" class="mr-4">#</a>Border Spacing</h3>

<% [
        'border-spacing-0', 
        'border-spacing-4', 
        'border-spacing-x-4 border-spacing-y-2',
        'border-spacing-16',
    ].forEach(x => { %>
<div class="bg-placeholder p-8 mb-8">

    <table class="<%= x %> border-separate border border-slate-500 w-full">
        <thead>
            <tr>
                <th class="p-4 text-left border border-slate-600 font-bold">State</th>
                <th class="p-4 text-left border border-slate-600 font-bold">City</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="p-4 border border-rose-500">Indiana</td>
                <td class="p-4 border border-rose-500">Indianapolis</td>
            </tr>
            <tr>
                <td class="p-4 border border-rose-500">Ohio</td>
                <td class="p-4 border border-rose-500">Columbus</td>
            </tr>
            <tr>
                <td class="p-4 border border-rose-500">Michigan</td>
                <td class="p-4 border border-rose-500">Detroit</td>
            </tr>
        </tbody>
    </table>

    <div class="text-center mt-4"><%= x %></div>
</div>
<% }); %>
