<h3 class="mb-8 p-4 border-b-2 border-placeholder"><a id="<%= id %>" class="mr-4">#</a>Align Items</h3>

<div class="bg-placeholder p-8 mb-8 text-center">
    <div class="flex items-stretch justify-stretch gap-8">
        <div class="bg-white flex-1 p-4">01</div>
        <div class="bg-white flex-1 p-12">02</div>
        <div class="bg-white flex-1 p-8">03</div>
    </div>
    <div class="text-center mt-4">Stretch</div>
</div>

<div class="bg-placeholder p-8 mb-8 text-center">
    <div class="flex items-start justify-stretch gap-8">
        <div class="bg-white flex-1 p-4">01</div>
        <div class="bg-white flex-1 p-12">02</div>
        <div class="bg-white flex-1 p-8">03</div>
    </div>
    <div class="text-center mt-4">Start</div>
</div>

<div class="bg-placeholder p-8 mb-8 text-center">
    <div class="flex items-center justify-stretch gap-8">
        <div class="bg-white flex-1 p-4">01</div>
        <div class="bg-white flex-1 p-12">02</div>
        <div class="bg-white flex-1 p-8">03</div>
    </div>
    <div class="text-center mt-4">Center</div>
</div>

<div class="bg-placeholder p-8 mb-8 text-center">
    <div class="flex items-end justify-stretch gap-8">
        <div class="bg-white flex-1 p-4">01</div>
        <div class="bg-white flex-1 p-12">02</div>
        <div class="bg-white flex-1 p-8">03</div>
    </div>
    <div class="text-center mt-4">End</div>
</div>

<div class="bg-placeholder p-8 mb-8 text-center">
    <div class="flex items-baseline justify-stretch gap-8">
        <div class="bg-white flex-1 pt-2 pb-6">01</div>
        <div class="bg-white flex-1 pt-8 pb-12">02</div>
        <div class="bg-white flex-1 pt-12 pb-4">03</div>
    </div>
    <div class="text-center mt-4">Baseline</div>
</div>