<h3 class="mb-8 p-4 border-b-2 border-placeholder"><a id="<%= id %>" class="mr-4">#</a>Align</h3>

<div class="bg-placeholder p-8 mb-8 text-center">
    <div class="h-72 grid grid-cols-3 justify-items-stretch content-start gap-8">
        <div class="bg-white p-8">01</div>
        <div class="bg-white p-8">02</div>
        <div class="bg-white p-8">03</div>
        <div class="bg-white p-8">04</div>
        <div class="bg-white p-8">05</div>
    </div>
    <div class="text-center mt-4">Start</div>
</div>

<div class="bg-placeholder p-8 mb-8 text-center">
    <div class="h-72 grid grid-cols-3 justify-items-stretch content-center gap-8">
        <div class="bg-white p-8">01</div>
        <div class="bg-white p-8">02</div>
        <div class="bg-white p-8">03</div>
        <div class="bg-white p-8">04</div>
        <div class="bg-white p-8">05</div>
    </div>
    <div class="text-center mt-4">Center</div>
</div>

<div class="bg-placeholder p-8 mb-8 text-center">
    <div class="h-72 grid grid-cols-3 justify-items-stretch content-end gap-8">
        <div class="bg-white p-8">01</div>
        <div class="bg-white p-8">02</div>
        <div class="bg-white p-8">03</div>
        <div class="bg-white p-8">04</div>
        <div class="bg-white p-8">05</div>
    </div>
    <div class="text-center mt-4">End</div>
</div>

<div class="bg-placeholder p-8 mb-8 text-center">
    <div class="h-72 grid grid-cols-3 justify-items-stretch content-between gap-8">
        <div class="bg-white p-8">01</div>
        <div class="bg-white p-8">02</div>
        <div class="bg-white p-8">03</div>
        <div class="bg-white p-8">04</div>
        <div class="bg-white p-8">05</div>
    </div>
    <div class="text-center mt-4">Space Between</div>
</div>

<div class="bg-placeholder p-8 mb-8 text-center">
    <div class="h-72 grid grid-cols-3 justify-items-stretch content-around gap-8">
        <div class="bg-white p-8">01</div>
        <div class="bg-white p-8">02</div>
        <div class="bg-white p-8">03</div>
        <div class="bg-white p-8">04</div>
        <div class="bg-white p-8">05</div>
    </div>
    <div class="text-center mt-4">Space Around</div>
</div>

<div class="bg-placeholder p-8 mb-8 text-center">
    <div class="h-72 grid grid-cols-3 justify-items-stretch content-evenly gap-8">
        <div class="bg-white p-8">01</div>
        <div class="bg-white p-8">02</div>
        <div class="bg-white p-8">03</div>
        <div class="bg-white p-8">04</div>
        <div class="bg-white p-8">05</div>
    </div>
    <div class="text-center mt-4">Space Evenly</div>
</div>

<div class="bg-placeholder p-8 mb-8 text-center">
    <div class="h-72 grid grid-cols-3 justify-items-stretch content-stretch gap-8">
        <div class="bg-white p-8">01</div>
        <div class="bg-white p-8">02</div>
        <div class="bg-white p-8">03</div>
        <div class="bg-white p-8">04</div>
        <div class="bg-white p-8">05</div>
    </div>
    <div class="text-center mt-4">Stretch</div>
</div>

<div class="bg-placeholder p-8 mb-8 text-center">
    <div class="h-72 grid grid-cols-3 justify-items-stretch content-normal gap-8">
        <div class="bg-white p-8">01</div>
        <div class="bg-white p-8">02</div>
        <div class="bg-white p-8">03</div>
        <div class="bg-white p-8">04</div>
        <div class="bg-white p-8">05</div>
    </div>
    <div class="text-center mt-4">Normal</div>
</div>