<h3 class="mb-8 p-4 border-b-2 border-placeholder"><a id="<%= id %>" class="mr-4">#</a>Justify</h3>

<div class="bg-placeholder p-8 mb-8">
    <div class="flex flex-row justify-start gap-8">
        <div class="bg-white p-8">01</div>
        <div class="bg-white p-8">02</div>
        <div class="bg-white p-8">03</div>
    </div>
    <div class="text-center mt-4">Start</div>
</div>

<div class="bg-placeholder p-8 mb-8">
    <div class="flex flex-row justify-center gap-8">
        <div class="bg-white p-8">01</div>
        <div class="bg-white p-8">02</div>
        <div class="bg-white p-8">03</div>
    </div>
    <div class="text-center mt-4">Start</div>
</div>

<div class="bg-placeholder p-8 mb-8">
    <div class="flex flex-row justify-right gap-8">
        <div class="bg-white p-8">01</div>
        <div class="bg-white p-8">02</div>
        <div class="bg-white p-8">03</div>
    </div>
    <div class="text-center mt-4">Right</div>
</div>

<div class="bg-placeholder p-8 mb-8">
    <div class="flex flex-row justify-between gap-8">
        <div class="bg-white p-8">01</div>
        <div class="bg-white p-8">02</div>
        <div class="bg-white p-8">03</div>
    </div>
    <div class="text-center mt-4">Between</div>
</div>

<div class="bg-placeholder p-8 mb-8">
    <div class="flex flex-row justify-around gap-8">
        <div class="bg-white p-8">01</div>
        <div class="bg-white p-8">02</div>
        <div class="bg-white p-8">03</div>
    </div>
    <div class="text-center mt-4">Around</div>
</div>

<div class="bg-placeholder p-8 mb-8">
    <div class="flex flex-row justify-evenly gap-8">
        <div class="bg-white p-8">01</div>
        <div class="bg-white p-8">02</div>
        <div class="bg-white p-8">03</div>
    </div>
    <div class="text-center mt-4">Evenly</div>
</div>

<div class="bg-placeholder p-8 mb-8">
    <div class="flex justify-stretch gap-8">
        <div class="bg-white flex-1 p-8">01</div>
        <div class="bg-white flex-1 p-8">02</div>
        <div class="bg-white flex-1 p-8">03</div>
    </div>
    <div class="text-center mt-4">Stretch</div>
</div>

<div class="bg-placeholder p-8 mb-8">
    <div class="flex justify-normal gap-8">
        <div class="bg-white p-8">01</div>
        <div class="bg-white p-8">02</div>
        <div class="bg-white p-8">03</div>
    </div>
    <div class="text-center mt-4">Normal</div>
</div>
