<h3 class="mb-8 p-4 border-b-2 border-placeholder"><a id="<%= id %>" class="mr-4">#</a>Justify Items</h3>

<div class="bg-placeholder p-8 mb-8 text-center">
    <div class="grid grid-cols-4 justify-items-start gap-8">
        <div class="bg-white p-8">01</div>
        <div class="bg-white p-8">02</div>
        <div class="bg-white p-8">03</div>
        <div class="bg-white p-8">04</div>
        <div class="bg-white p-8">05</div>
        <div class="bg-white p-8">06</div>
    </div>
    <div class="text-center mt-4">Start</div>
</div>

<div class="bg-placeholder p-8 mb-8 text-center">
    <div class="grid grid-cols-4 justify-items-end gap-8">
        <div class="bg-white p-8">01</div>
        <div class="bg-white p-8">02</div>
        <div class="bg-white p-8">03</div>
        <div class="bg-white p-8">04</div>
        <div class="bg-white p-8">05</div>
        <div class="bg-white p-8">06</div>
    </div>
    <div class="text-center mt-4">End</div>
</div>

<div class="bg-placeholder p-8 mb-8 text-center">
    <div class="grid grid-cols-4 justify-items-center gap-8">
        <div class="bg-white p-8">01</div>
        <div class="bg-white p-8">02</div>
        <div class="bg-white p-8">03</div>
        <div class="bg-white p-8">04</div>
        <div class="bg-white p-8">05</div>
        <div class="bg-white p-8">06</div>
    </div>
    <div class="text-center mt-4">Center</div>
</div>

<div class="bg-placeholder p-8 mb-8 text-center">
    <div class="grid grid-cols-4 justify-items-stretch gap-8">
        <div class="bg-white p-8">01</div>
        <div class="bg-white p-8">02</div>
        <div class="bg-white p-8">03</div>
        <div class="bg-white p-8">04</div>
        <div class="bg-white p-8">05</div>
        <div class="bg-white p-8">06</div>
    </div>
    <div class="text-center mt-4">Stretch</div>
</div>