<h3 class="mb-8 p-4 border-b-2 border-placeholder"><a id="<%= id %>" class="mr-4">#</a>Place</h3>

<div class="bg-placeholder p-8 mb-8 text-center">
    <div class="h-72 grid grid-cols-[repeat(2,64px)] place-content-center gap-8">
        <div class="bg-white p-8 w-24 h-24">01</div>
        <div class="bg-white p-8 w-24 h-24">02</div>
        <div class="bg-white p-8 w-24 h-24">03</div>
        <div class="bg-white p-8 w-24 h-24">04</div>
    </div>
    <div class="text-center mt-4">Center</div>
</div>
