<h3 class="mb-8 p-4 border-b-2 border-placeholder"><a id="<%= id %>" class="mr-4">#</a>Wrap</h3>

<div class="bg-placeholder p-8 mb-8 overflow-auto">
    <div class="flex flex-nowrap gap-8">
        <div class="w-1/2 flex-none bg-white p-8">50%</div>
        <div class="w-1/3 flex-none bg-white p-8">33%</div>
        <div class="w-1/3 flex-none bg-white p-8">33%</div>
    </div>
    <div class="text-center mt-4">No wrap</div>
</div>

<div class="bg-placeholder p-8 mb-8 overflow-auto">
    <div class="flex flex-wrap gap-8">
        <div class="w-1/2 bg-white p-8">50%</div>
        <div class="w-1/3 bg-white p-8">33%</div>
        <div class="w-1/3 bg-white p-8">33%</div>
    </div>
    <div class="text-center mt-4">Wrap</div>
</div>

<div class="bg-placeholder p-8 mb-8 overflow-auto">
    <div class="flex flex-wrap-reverse gap-8">
        <div class="w-1/2 bg-white p-8">50%</div>
        <div class="w-1/3 bg-white p-8">33%</div>
        <div class="w-1/3 bg-white p-8">33%</div>
    </div>
    <div class="text-center mt-4">Wrap Reverse</div>
</div>