<h3 class="mb-8 p-4 border-b-2 border-placeholder"><a id="<%= id %>" class="mr-4">#</a>Fonts</h3>

<div class="bg-placeholder p-8 mb-8">
    <legend>font-sans</legend>
    <p class="font-sans p-4 mb-4 bg-white">The quick brown fox jumps over the lazy dog.</p>
    <legend>font-serif</legend>
    <p class="font-serif p-4 mb-4 bg-white">The quick brown fox jumps over the lazy dog.</p>
    <legend>font-mono</legend>
    <p class="font-mono p-4 mb-4 bg-white">The quick brown fox jumps over the lazy dog.</p>
    <div class="text-center mt-4">Family</div>
</div>

<div class="bg-placeholder p-8 mb-8">
    <legend>text-sm</legend>
    <p class="text-sm p-4 mb-4 bg-white">The quick brown fox jumps over the lazy dog.</p>
    <legend>text-base</legend>
    <p class="text-base p-4 mb-4 bg-white">The quick brown fox jumps over the lazy dog.</p>
    <legend>text-lg</legend>
    <p class="text-lg p-4 mb-4 bg-white">The quick brown fox jumps over the lazy dog.</p>
    <legend>text-xl</legend>
    <p class="text-xl p-4 mb-4 bg-white">The quick brown fox jumps over the lazy dog.</p>
    <legend>text-2xl</legend>
    <p class="text-2xl p-4 mb-4 bg-white">The quick brown fox jumps over the lazy dog.</p>
    <div class="text-center mt-4">Size</div>
</div>

<div class="bg-placeholder p-8 mb-8">
    <legend>None</legend>
    <p class="p-4 mb-4 bg-white">The quick brown fox jumps over the lazy dog.</p>
    <legend>antialiased</legend>
    <p class="antialiased p-4 mb-4 bg-white">The quick brown fox jumps over the lazy dog.</p>
    <legend>subpixel-antialiased</legend>
    <p class="subpixel-antialiased font-mono p-4 mb-4 bg-white">The quick brown fox jumps over the lazy dog.</p>
    <div class="text-center mt-4">Smoothing</div>
</div>

<div class="bg-placeholder p-8 mb-8">
    <legend>italic</legend>
    <p class="italic p-4 mb-4 bg-white">The quick brown fox jumps over the lazy dog.</p>
    <legend>non-italic</legend>
    <p class="non-italic font-mono p-4 mb-4 bg-white">The quick brown fox jumps over the lazy dog.</p>
    <div class="text-center mt-4">Style</div>
</div>

<div class="bg-placeholder p-8 mb-8">
    <legend>font-light</legend>
    <p class="font-light p-4 mb-4 bg-white">The quick brown fox jumps over the lazy dog.</p>
    <legend>font-normal</legend>
    <p class="font-normal p-4 mb-4 bg-white">The quick brown fox jumps over the lazy dog.</p>
    <legend>font-medium</legend>
    <p class="font-medium p-4 mb-4 bg-white">The quick brown fox jumps over the lazy dog.</p>
    <legend>font-semibold</legend>
    <p class="font-semibold p-4 mb-4 bg-white">The quick brown fox jumps over the lazy dog.</p>
    <legend>font-bold</legend>
    <p class="font-bold p-4 mb-4 bg-white">The quick brown fox jumps over the lazy dog.</p>
    <div class="text-center mt-4">Weight</div>
</div>

<div class="bg-placeholder p-8 mb-8">
    <legend>ordinal</legend>
    <p class="font-source ordinal p-4 mb-4 bg-white">1st</p>

    <legend>ordinal</legend>
    <p class="font-source ordinal p-4 mb-4 bg-white">1st</p>

    <legend>tabular-nums</legend>
    <div class="p-4 mb-4 bg-white">
        <p class="tabular-nums">12345</p>
        <p class="tabular-nums">909090</p>
    </div>
    <div class="text-center mt-4">Numerics</div>
</div>

<div class="bg-placeholder p-8 mb-8">
    <legend>tracking-light</legend>
    <p class="tracking-light p-4 mb-4 bg-white">The quick brown fox jumps over the lazy dog.</p>
    <legend>tracking-normal</legend>
    <p class="tracking-normal p-4 mb-4 bg-white">The quick brown fox jumps over the lazy dog.</p>
    <legend>tracking-wide</legend>
    <p class="tracking-wide p-4 mb-4 bg-white">The quick brown fox jumps over the lazy dog.</p>
    <div class="text-center mt-4">Spacing</div>
</div>