<h3 class="mb-8 p-4 border-b-2 border-placeholder"><a id="<%= id %>" class="mr-4">#</a>Line</h3>

<div class="bg-placeholder p-8 mb-8">
    <div class="p-4 mb-4 bg-white">
        <p class="line-clamp-3 font-mono lorem"></p>
    </div>
    <div class="text-center mt-4">Truncating</div>
</div>

<div class="bg-placeholder p-8 mb-8">
    <legend>normal</legend>
    <p class="leading-normal p-4 mb-4 bg-white">The quick brown fox jumps over the lazy dog.</p>
    <legend>relaxed</legend>
    <p class="leading-relaxed p-4 mb-4 bg-white">The quick brown fox jumps over the lazy dog.</p>
    <legend>loose</legend>
    <p class="leading-loose p-4 mb-4 bg-white">The quick brown fox jumps over the lazy dog.</p>
    <div class="text-center mt-4">Relative Height</div>
</div>

<div class="bg-placeholder p-8 mb-8">
    <legend>3</legend>
    <p class="leading-3 p-4 mb-4 bg-white">The quick brown fox jumps over the lazy dog.</p>

    <legend>4</legend>
    <p class="leading-4 p-4 mb-4 bg-white">The quick brown fox jumps over the lazy dog.</p>

    <legend>5</legend>
    <p class="leading-5 p-4 mb-4 bg-white">The quick brown fox jumps over the lazy dog.</p>

    <legend>6</legend>
    <p class="leading-6 p-4 mb-4 bg-white">The quick brown fox jumps over the lazy dog.</p>

    <legend>7</legend>
    <p class="leading-7 p-4 mb-4 bg-white">The quick brown fox jumps over the lazy dog.</p>

    <legend>8</legend>
    <p class="leading-8 p-4 mb-4 bg-white">The quick brown fox jumps over the lazy dog.</p>
    
    <div class="text-center mt-4">Fixed Height</div>
</div>