<h3 class="mb-8 p-4 border-b-2 border-placeholder"><a id="<%= id %>" class="mr-4">#</a>List</h3>

<div class="bg-placeholder p-8 mb-8">
    <div class="flex">
        <div class="p-4 mb-4 flex-1">
            <ul class="list-none">
                <li class="bg-white">None</li>
                <li>O2</li>
                <li>O3</li>
                <li>O4</li>
            </ul>
        </div>
        <div class="p-4 mb-4 flex-1">
            <ul class="list-disc">
                <li class="bg-white">Disk</li>
                <li>O2</li>
                <li>O3</li>
                <li>O4</li>
            </ul>
        </div>
        <div class="p-4 mb-4 flex-1">
            <ul class="list-decimal">
                <li class="bg-white">Decimal</li>
                <li>O2</li>
                <li>O3</li>
                <li>O4</li>
            </ul>
        </div>
    </div>
    <div class="text-center mt-4">Style Type</div>
</div>

<div class="bg-placeholder p-8 mb-8">
    <div class="p-4 mb-4 bg-white">
        <ul class="list-image-checkmark pl-4">
            <li>O1</li>
            <li>O2</li>
            <li>O3</li>
            <li>O4</li>
        </ul>
    </div>
    <div class="text-center mt-4">Style Image</div>
</div>

<div class="bg-placeholder p-8 mb-8">
    <div class="flex">
        <div class="p-4 mb-4 flex-1">
            <ul class="list-disc list-inside">
                <li class="bg-white">Inside</li>
                <li>O2</li>
                <li>O3</li>
                <li>O4</li>
            </ul>
        </div>
        <div class="p-4 mb-4 flex-1">
            <ul class="list-disc list-outside">
                <li class="bg-white">Outside</li>
                <li>O2</li>
                <li>O3</li>
                <li>O4</li>
            </ul>
        </div>
    </div>
    <div class="text-center mt-4">Style Position</div>
</div>

