<h3 class="mb-8 p-4 border-b-2 border-placeholder"><a id="<%= id %>" class="mr-4">#</a>Text Tranform</h3>

<div class="bg-placeholder p-8 mb-8">
    <legend>normal-case</legend>
    <p class="normal-case p-4 mb-4 bg-white">The quick brown fox jumps over the lazy dog.</p>

    <legend>uppercase</legend>
    <p class="uppercase p-4 mb-4 bg-white">The quick brown fox jumps over the lazy dog.</p>

    <legend>lowercase</legend>
    <p class="lowercase p-4 mb-4 bg-white">The quick brown fox jumps over the lazy dog.</p>

    <legend>capitalize</legend>
    <p class="capitalize p-4 mb-4 bg-white">The quick brown fox jumps over the lazy dog.</p>
</div>
