<h3 class="mb-8 p-4 border-b-2 border-placeholder"><a id="<%= id %>" class="mr-4">#</a>Text Opacity</h3>

<div class="bg-placeholder p-8 mb-8">
    <div class="p-4 bg-white">
        <p class="text-rose-500/100 mb-4">The quick brown fox jumps over the lazy dog.</p>
        <p class="text-rose-500/75 mb-4">The quick brown fox jumps over the lazy dog.</p>
        <p class="text-rose-500/50 mb-4">The quick brown fox jumps over the lazy dog.</p>
        <p class="text-rose-500/25 mb-4">The quick brown fox jumps over the lazy dog.</p>
        <p class="text-rose-500/0">The quick brown fox jumps over the lazy dog.</p>
    </div>
</div>