<h3 class="mb-8 p-4 border-b-2 border-placeholder"><a id="<%= id %>" class="mr-4">#</a>Text Alignment</h3>

<div class="bg-placeholder p-8 mb-8">

    <div class="grid grid-cols-2 gap-8">
        <div>
            <legend>text-left</legend>
            <div class="p-8 bg-white">
                <p class="text-left before:content-lorem line-clamp-3"></p>
            </div>
        </div>
        
        <div>
            <legend>text-center</legend>
            <div class="p-8 bg-white">
                <p class="text-center before:content-lorem line-clamp-3"></p>
            </div>
        </div>
        
        <div>
            <legend>text-right</legend>
            <div class="p-8 bg-white">
                <p class="text-right before:content-lorem line-clamp-3"></p>
            </div>
        </div>

        <div>
            <legend>text-justify</legend>
            <div class="p-8 bg-white">
                <p class="text-justify before:content-lorem line-clamp-3"></p>
            </div>
        </div>
    </div>
    <div class="text-center mt-4">Horizontal</div>
</div>

<div class="bg-placeholder p-8 mb-8">

    <div class="mb-8">
        <legend>top</legend>
        <div class="p-8 bg-white leading-[3rem]">
            <div class="border-black border-2">
                <span class="inline-block leading-none align-top bg-black text-white">The quick brown fox jumps over the lazy dog.</span>
            </div>
        </div>
    </div>
    

    <div class="mb-8">
        <legend>bottom</legend>
        <div class="p-8 bg-white leading-[3rem]">
            <div class="border-black border-2">
                <span class="inline-block leading-none align-bottom bg-black text-white">The quick brown fox jumps over the lazy dog.</span>
            </div>
        </div>
    </div>

    <div class="mb-8">
        <legend>middle</legend>
        <div class="p-8 bg-white leading-[3rem]">
            <div class="border-black border-2">
                <span class="inline-block leading-none align-middle bg-black text-white">The quick brown fox jumps over the lazy dog.</span>
            </div>
        </div>
    </div>

    <div class="text-center mt-4">Vertical</div>
</div>