<h3 class="mb-8 p-4 border-b-2 border-placeholder"><a id="<%= id %>" class="mr-4">#</a>Text</h3>

<div class="bg-placeholder p-8 mb-8">

    <div class="grid grid-cols-2 gap-8">
        <div>
            <legend>text-left</legend>
            <div class="p-8 bg-white">
                <p class="text-left before:content-lorem line-clamp-3"></p>
            </div>
        </div>
        
        <div>
            <legend>text-center</legend>
            <div class="p-8 bg-white">
                <p class="text-center before:content-lorem line-clamp-3"></p>
            </div>
        </div>
        
        <div>
            <legend>text-right</legend>
            <div class="p-8 bg-white">
                <p class="text-right before:content-lorem line-clamp-3"></p>
            </div>
        </div>

        <div>
            <legend>text-justify</legend>
            <div class="p-8 bg-white">
                <p class="text-justify before:content-lorem line-clamp-3"></p>
            </div>
        </div>
    </div>
        
    <div class="text-center mt-4">Alignment</div>
</div>

<div class="bg-placeholder pb-8 mb-8">
    <div class="relative h-[312px]">
        <div class="relative h-full bg-placeholder p-4">
            <div class="overflow-y-auto h-full">
                <div class="sticky top-0 bg-black text-white px-8 py-4">Common</div>
                <div class="text-inherit bg-white px-8 py-4">inherit</div>
                <div class="text-current bg-white px-8 py-4">current</div>
                <div class="text-transparent bg-white px-8 py-4">transparent</div>
                <div class="text-black bg-white px-8 py-4">black</div>
                <div class="text-white bg-white px-8 py-4">white</div>

                <div class="sticky top-0 bg-black text-white px-8 py-4">Custom</div>
                <div class="text-placeholder bg-white px-8 py-4">white</div>

                <div class="sticky top-0 bg-black text-white px-8 py-4">Gamma-500</div>
                <div class="text-slate-500 bg-white px-8 py-4">text-slate-500</div>
                <div class="text-gray-500 bg-white px-8 py-4">text-gray-500</div>
                <div class="text-zinc-500 bg-white px-8 py-4">text-zinc-500</div>
                <div class="text-neutral-500 bg-white px-8 py-4">text-neutral-500</div>
                <div class="text-stone-500 bg-white px-8 py-4">text-stone-500</div>
                <div class="text-red-500 bg-white px-8 py-4">text-red-500</div>
                <div class="text-orange-500 bg-white px-8 py-4">text-orange-500</div>
                <div class="text-amber-500 bg-white px-8 py-4">text-amber-500</div>
                <div class="text-yellow-500 bg-white px-8 py-4">text-yellow-500</div>
                <div class="text-lime-500 bg-white px-8 py-4">text-lime-500</div>
                <div class="text-green-500 bg-white px-8 py-4">text-green-500</div>
                <div class="text-emerald-500 bg-white px-8 py-4">text-emerald-500</div>
                <div class="text-teal-500 bg-white px-8 py-4">text-teal-500</div>
                <div class="text-cyan-500 bg-white px-8 py-4">text-cyan-500</div>
                <div class="text-sky-500 bg-white px-8 py-4">text-sky-500</div>
                <div class="text-blue-500 bg-white px-8 py-4">text-blue-500</div>
                <div class="text-indigo-500 bg-white px-8 py-4">text-indigo-500</div>
                <div class="text-violet-500 bg-white px-8 py-4">text-violet-500</div>
                <div class="text-purple-500 bg-white px-8 py-4">text-purple-500</div>
                <div class="text-fuchsia-500 bg-white px-8 py-4">text-fuchsia-500</div>
                <div class="text-pink-500 bg-white px-8 py-4">text-pink-500</div>
                <div class="text-rose-500 bg-white px-8 py-4">text-rose-500</div>
            </div>
        </div>
    </div>
    <div class="text-center mt-4">Color</div>
</div>


<div class="bg-placeholder p-8 mb-8">
    <div class="p-4 bg-white">
        <p class="text-rose-500/100 mb-4">The quick brown fox jumps over the lazy dog.</p>
        <p class="text-rose-500/75 mb-4">The quick brown fox jumps over the lazy dog.</p>
        <p class="text-rose-500/50 mb-4">The quick brown fox jumps over the lazy dog.</p>
        <p class="text-rose-500/25 mb-4">The quick brown fox jumps over the lazy dog.</p>
        <p class="text-rose-500/0">The quick brown fox jumps over the lazy dog.</p>
    </div>
    <div class="text-center mt-4">Opacity</div>
</div>

<div class="bg-placeholder p-8 mb-8">
    <legend>underline</legend>
    <p class="underline p-4 mb-4 bg-white">The quick brown fox jumps over the lazy dog.</p>
    
    <legend>overline</legend>
    <p class="overline p-4 mb-4 bg-white">The quick brown fox jumps over the lazy dog.</p>
    
    <legend>line-through</legend>
    <p class="line-through p-4 mb-4 bg-white">The quick brown fox jumps over the lazy dog.</p>
    
    <legend>no-underline</legend>
    <p class="no-underline p-4 mb-4 bg-white">The quick brown fox jumps over the lazy dog.</p>

    <div class="text-center mt-4">Decoration</div>
</div>

<div class="bg-placeholder p-8 mb-8">
    <legend>colored</legend>
    <p class="underline decoration-rose-500 p-4 mb-4 bg-white">The quick brown fox jumps over the lazy dog.</p>

    <legend>decoration-solid</legend>
    <p class="underline decoration-solid decoration-black p-4 mb-4 bg-white">The quick brown fox jumps over the lazy dog.</p>

    <legend>decoration-double</legend>
    <p class="underline decoration-double decoration-black p-4 mb-4 bg-white">The quick brown fox jumps over the lazy dog.</p>

    <legend>decoration-dotted</legend>
    <p class="underline decoration-dotted decoration-black p-4 mb-4 bg-white">The quick brown fox jumps over the lazy dog.</p>

    <legend>decoration-dashed</legend>
    <p class="underline decoration-dashed decoration-black p-4 mb-4 bg-white">The quick brown fox jumps over the lazy dog.</p>

    <legend>decoration-wavy</legend>
    <p class="underline decoration-wavy decoration-black p-4 mb-4 bg-white">The quick brown fox jumps over the lazy dog.</p>

    <div class="text-center mt-4">Decoration Style</div>
</div>

<div class="bg-placeholder p-8 mb-8">
    <legend>decoration-auto</legend>
    <p class="underline decoration-solid decoration-black decoration-auto p-4 mb-4 bg-white">The quick brown fox jumps over the lazy dog.</p>

    <legend>decoration-from-font</legend>
    <p class="underline decoration-solid decoration-black decoration-from-font p-4 mb-4 bg-white">The quick brown fox jumps over the lazy dog.</p>

    <legend>decoration-0</legend>
    <p class="underline decoration-solid decoration-black decoration-0 p-4 mb-4 bg-white">The quick brown fox jumps over the lazy dog.</p>

    <legend>decoration-1</legend>
    <p class="underline decoration-solid decoration-black decoration-1 p-4 mb-4 bg-white">The quick brown fox jumps over the lazy dog.</p>

    <legend>decoration-2</legend>
    <p class="underline decoration-solid decoration-black decoration-2 p-4 mb-4 bg-white">The quick brown fox jumps over the lazy dog.</p>

    <legend>decoration-4</legend>
    <p class="underline decoration-solid decoration-black decoration-4 p-4 mb-4 bg-white">The quick brown fox jumps over the lazy dog.</p>

    <legend>decoration-8</legend>
    <p class="underline decoration-solid decoration-black decoration-8 p-4 mb-4 bg-white">The quick brown fox jumps over the lazy dog.</p>

    <div class="text-center mt-4">Decoration Thickness</div>
</div>

<div class="bg-placeholder p-8 mb-8">
    <legend>underline-offset-0</legend>
    <p class="underline decoration-solid decoration-black underline-offset-0 p-4 mb-4 bg-white">The quick brown fox jumps over the lazy dog.</p>

    <legend>underline-offset-1</legend>
    <p class="underline decoration-solid decoration-black underline-offset-1 p-4 mb-4 bg-white">The quick brown fox jumps over the lazy dog.</p>

    <legend>underline-offset-2</legend>
    <p class="underline decoration-solid decoration-black underline-offset-2 p-4 mb-4 bg-white">The quick brown fox jumps over the lazy dog.</p>

    <legend>underline-offset-4</legend>
    <p class="underline decoration-solid decoration-black underline-offset-4 p-4 mb-4 bg-white">The quick brown fox jumps over the lazy dog.</p>

    <legend>underline-offset-8</legend>
    <p class="underline decoration-solid decoration-black underline-offset-8 p-4 mb-4 bg-white">The quick brown fox jumps over the lazy dog.</p>

    <div class="text-center mt-4">Decoration Offset</div>
</div>

<div class="bg-placeholder p-8 mb-8">
    <legend>normal-case</legend>
    <p class="normal-case p-4 mb-4 bg-white">The quick brown fox jumps over the lazy dog.</p>

    <legend>uppercase</legend>
    <p class="uppercase p-4 mb-4 bg-white">The quick brown fox jumps over the lazy dog.</p>

    <legend>lowercase</legend>
    <p class="lowercase p-4 mb-4 bg-white">The quick brown fox jumps over the lazy dog.</p>

    <legend>capitalize</legend>
    <p class="capitalize p-4 mb-4 bg-white">The quick brown fox jumps over the lazy dog.</p>

    <div class="text-center mt-4">Tranform</div>
</div>

<div class="bg-placeholder p-8 mb-8">

    <div class="grid grid-cols-3 gap-8">
        <div>
            <legend>truncate</legend>
            <div class="p-8 bg-white">
                <p class="truncate before:content-lorem"></p>
            </div>
        </div>
        
        <div>
            <legend>text-ellipsis</legend>
            <div class="p-8 bg-white">
                <p class="text-ellipsis overflow-hidden">
                    pneumonoultramicroscopicsilicovolcanoconiosis
                </p>
            </div>
        </div>
        
        <div>
            <legend>text-clip</legend>
            <div class="p-8 bg-white">
                <p class="text-clip overflow-hidden">
                    pneumonoultramicroscopicsilicovolcanoconiosis
                </p>
            </div>
        </div>
    </div>
        
    <div class="text-center mt-4">Overflow</div>
</div>

<div class="bg-placeholder p-8 mb-8">

    <div class="grid grid-cols-3 gap-8">
        <div>
            <legend>none</legend>
            <div class="p-8 bg-white">
                <p class="indent-0 before:content-lorem line-clamp-3"></p>
            </div>
        </div>
        
        <div>
            <legend>positive</legend>
            <div class="p-8 bg-white">
                <p class="indent-8 before:content-lorem line-clamp-3"></p>
            </div>
        </div>
        
        <div>
            <legend>negative</legend>
            <div class="p-8 bg-white">
                <p class="-indent-8 before:content-lorem line-clamp-3"></p>
            </div>
        </div>
    </div>
        
    <div class="text-center mt-4">Indent</div>
</div>

<div class="bg-placeholder p-8 mb-8">

    <div class="mb-8">
        <legend>top</legend>
        <div class="p-8 bg-white leading-[3rem]">
            <div class="border-black border-2">
                <span class="inline-block leading-none align-top bg-black text-white">The quick brown fox jumps over the lazy dog.</span>
            </div>
        </div>
    </div>
    

    <div class="mb-8">
        <legend>bottom</legend>
        <div class="p-8 bg-white leading-[3rem]">
            <div class="border-black border-2">
                <span class="inline-block leading-none align-bottom bg-black text-white">The quick brown fox jumps over the lazy dog.</span>
            </div>
        </div>
    </div>

    <div class="mb-8">
        <legend>middle</legend>
        <div class="p-8 bg-white leading-[3rem]">
            <div class="border-black border-2">
                <span class="inline-block leading-none align-middle bg-black text-white">The quick brown fox jumps over the lazy dog.</span>
            </div>
        </div>
    </div>
    
        
    <div class="text-center mt-4">Vertical Align</div>
</div>