<h3 class="mb-8 p-4 border-b-2 border-placeholder"><a id="<%= id %>" class="mr-4">#</a>Text Decoration Thickness</h3>

<div class="bg-placeholder p-8 mb-8">
    <legend>decoration-auto</legend>
    <p class="underline decoration-solid decoration-black decoration-auto p-4 mb-4 bg-white">The quick brown fox jumps over the lazy dog.</p>

    <legend>decoration-from-font</legend>
    <p class="underline decoration-solid decoration-black decoration-from-font p-4 mb-4 bg-white">The quick brown fox jumps over the lazy dog.</p>

    <legend>decoration-0</legend>
    <p class="underline decoration-solid decoration-black decoration-0 p-4 mb-4 bg-white">The quick brown fox jumps over the lazy dog.</p>

    <legend>decoration-1</legend>
    <p class="underline decoration-solid decoration-black decoration-1 p-4 mb-4 bg-white">The quick brown fox jumps over the lazy dog.</p>

    <legend>decoration-2</legend>
    <p class="underline decoration-solid decoration-black decoration-2 p-4 mb-4 bg-white">The quick brown fox jumps over the lazy dog.</p>

    <legend>decoration-4</legend>
    <p class="underline decoration-solid decoration-black decoration-4 p-4 mb-4 bg-white">The quick brown fox jumps over the lazy dog.</p>

    <legend>decoration-8</legend>
    <p class="underline decoration-solid decoration-black decoration-8 p-4 mb-4 bg-white">The quick brown fox jumps over the lazy dog.</p>
</div>