<h3 class="mb-8 p-4 border-b-2 border-placeholder"><a id="<%= id %>" class="mr-4">#</a>Text Decoration</h3>

<div class="bg-placeholder p-8 mb-8">
    <legend>underline</legend>
    <p class="underline p-4 mb-4 bg-white">The quick brown fox jumps over the lazy dog.</p>
    
    <legend>overline</legend>
    <p class="overline p-4 mb-4 bg-white">The quick brown fox jumps over the lazy dog.</p>
    
    <legend>line-through</legend>
    <p class="line-through p-4 mb-4 bg-white">The quick brown fox jumps over the lazy dog.</p>
    
    <legend>no-underline</legend>
    <p class="no-underline p-4 mb-4 bg-white">The quick brown fox jumps over the lazy dog.</p>
</div>
