<h3 class="mb-8 p-4 border-b-2 border-placeholder"><a id="<%= id %>" class="mr-4">#</a>Text Decoration Style</h3>

<div class="bg-placeholder p-8 mb-8">
    <legend>colored</legend>
    <p class="underline decoration-rose-500 p-4 mb-4 bg-white">The quick brown fox jumps over the lazy dog.</p>

    <legend>decoration-solid</legend>
    <p class="underline decoration-solid decoration-black p-4 mb-4 bg-white">The quick brown fox jumps over the lazy dog.</p>

    <legend>decoration-double</legend>
    <p class="underline decoration-double decoration-black p-4 mb-4 bg-white">The quick brown fox jumps over the lazy dog.</p>

    <legend>decoration-dotted</legend>
    <p class="underline decoration-dotted decoration-black p-4 mb-4 bg-white">The quick brown fox jumps over the lazy dog.</p>

    <legend>decoration-dashed</legend>
    <p class="underline decoration-dashed decoration-black p-4 mb-4 bg-white">The quick brown fox jumps over the lazy dog.</p>

    <legend>decoration-wavy</legend>
    <p class="underline decoration-wavy decoration-black p-4 mb-4 bg-white">The quick brown fox jumps over the lazy dog.</p>
</div>