<h3 class="mb-8 p-4 border-b-2 border-placeholder"><a id="<%= id %>" class="mr-4">#</a>Text Decoration Offset</h3>

<div class="bg-placeholder p-8 mb-8">
    <legend>underline-offset-0</legend>
    <p class="underline decoration-solid decoration-black underline-offset-0 p-4 mb-4 bg-white">The quick brown fox jumps over the lazy dog.</p>

    <legend>underline-offset-1</legend>
    <p class="underline decoration-solid decoration-black underline-offset-1 p-4 mb-4 bg-white">The quick brown fox jumps over the lazy dog.</p>

    <legend>underline-offset-2</legend>
    <p class="underline decoration-solid decoration-black underline-offset-2 p-4 mb-4 bg-white">The quick brown fox jumps over the lazy dog.</p>

    <legend>underline-offset-4</legend>
    <p class="underline decoration-solid decoration-black underline-offset-4 p-4 mb-4 bg-white">The quick brown fox jumps over the lazy dog.</p>

    <legend>underline-offset-8</legend>
    <p class="underline decoration-solid decoration-black underline-offset-8 p-4 mb-4 bg-white">The quick brown fox jumps over the lazy dog.</p>
</div>