<h3 class="mb-8 p-4 border-b-2 border-placeholder"><a id="<%= id %>" class="mr-4">#</a>Whitespace</h3>

<div class="bg-placeholder p-8 mb-8">
    <div class="grid grid-cols-1 sm:grid-cols-3 gap-8">

        <div class="flex flex-col">
            <div class="p-8 bg-white flex-1">
                <p class="whitespace-normal">The quick 
    
                    brown fox jumps 
        over             the lazy dog.</p>
            </div>
            <legend class="text-center">normal</legend>
        </div>

        <div class="flex flex-col">
            <div class="p-8 bg-white flex-1">
                <div class="overflow-x-auto">
                    <p class="whitespace-nowrap">The quick 
    
                        brown fox jumps 
            over             the lazy dog.</p>
                </div>
            </div>
            <legend class="text-center">normal</legend>
        </div>

        <div class="flex flex-col">
            <div class="p-8 bg-white flex-1">
                <div class="overflow-x-auto">
                    <p class="whitespace-pre">The quick 
    
                        brown fox jumps 
            over             the lazy dog.</p>
                </div>
            </div>
            <legend class="text-center">pre</legend>
        </div>

        <div class="flex flex-col">
            <div class="p-8 bg-white flex-1">
                <div class="overflow-x-auto">
                    <p class="whitespace-pre-line">The quick 
    
                        brown fox jumps 
            over             the lazy dog.</p>
                </div>
            </div>
            <legend class="text-center">pre-line</legend>
        </div>

        <div class="flex flex-col">
            <div class="p-8 bg-white flex-1">
                <div class="overflow-x-auto">
                    <p class="whitespace-pre-wrap">The quick 
    
                        brown fox jumps 
            over             the lazy dog.</p>
                </div>
            </div>
            <legend class="text-center">pre-wrap</legend>
        </div>

        <div class="flex flex-col">
            <div class="p-8 bg-white flex-1">
                <div class="overflow-x-auto">
                    <p class="whitespace-break-spaces">The quick 
    
                        brown fox jumps 
            over             the lazy dog.</p>
                </div>
            </div>
            <legend class="text-center">break-spaces</legend>
        </div>
        
    </div>
</div>