<h3 class="mb-8 p-4 border-b-2 border-placeholder"><a id="<%= id %>" class="mr-4">#</a>Word Break</h3>

<div class="bg-placeholder p-8 mb-8">
    <div class="grid grid-cols-1 sm:grid-cols-3 gap-8">

        <div class="flex flex-col">
            <div class="p-8 bg-white flex-1">
                <p class="break-normal whitespace-normal lorem-post line-clamp-3">pneumonoultramicroscopicsilicovolcanoconiosis. </div>
            <legend class="text-center">normal</legend>
        </div>

        <div class="flex flex-col">
            <div class="p-8 bg-white flex-1">
                <p class="break-words whitespace-normal lorem-post line-clamp-3">pneumonoultramicroscopicsilicovolcanoconiosis. </div>
            <legend class="text-center">break</legend>
        </div>

        <div class="flex flex-col">
            <div class="p-8 bg-white flex-1">
                <p class="break-all whitespace-normal lorem-post line-clamp-3">pneumonoultramicroscopicsilicovolcanoconiosis. </div>
            <legend class="text-center">all</legend>
        </div>
    </div>
</div>
