<h3 class="mb-8 p-4 border-b-2 border-placeholder"><a id="<%= id %>" class="mr-4">#</a>Attachment</h3>

<div class="bg-placeholder p-8 mb-8">
    <div class="grid grid-cols-1 sm:grid-cols-3 gap-8">
        <div>
            <div class="bg-fixed h-80 overflow-y-auto" style="background-image: url('./images/radial.png')">
                <div class="mt-40">
                    <div class="bg-white/90 text-center p-4 before:content-lorem"></div>
                </div>
            </div>
            <div class="text-center mt-4">fixed</div>
        </div>

        <div>
            <div class="bg-local h-80 overflow-y-auto" style="background-image: url('./images/radial.png')">
                <div class="mt-40">
                    <div class="bg-white/90 text-center p-4 before:content-lorem"></div>
                </div>
            </div>
            <div class="text-center mt-4">local</div>
        </div>

        <div>
            <div class="bg-scroll h-80 overflow-y-auto" style="background-image: url('./images/radial.png')">
                <div class="mt-40">
                    <div class="bg-white/90 bg-opacity-50 text-center p-4 before:content-lorem"></div>
                </div>
            </div>
            <div class="text-center mt-4">scroll</div>
        </div>
    </div>
</div>