<h3 class="mb-8 p-4 border-b-2 border-placeholder"><a id="<%= id %>" class="mr-4">#</a>Color</h3>

<div class="bg-placeholder pb-8 mb-8">
    <div class="relative h-[312px]">
        <div class="relative h-full bg-placeholder p-4">
            <div class="overflow-y-auto h-full">
                <div class="sticky top-0 bg-black text-white px-8 py-4">Gradients</div>
                <div class="h-14 bg-gradient-to-r from-cyan-500 to-blue-500"></div>
                <div class="h-14 bg-gradient-to-r from-sky-500 to-indigo-500"></div>
                <div class="h-14 bg-gradient-to-r from-violet-500 to-fuchsia-500"></div>
                <div class="h-14 bg-gradient-to-r from-purple-500 to-pink-500"></div>

                <div class="sticky top-0 bg-black text-white px-8 py-4">Common</div>
                <div class="bg-white px-8 py-4">inherit</div>
                <div class="bg-current px-8 py-4"><span class="text-white">current</span></div>
                <div class="bg-transparent px-8 py-4">transparent</div>
                <div class="text-white bg-black px-8 py-4">black</div>
                <div class="bg-white px-8 py-4">white</div>

                <div class="sticky top-0 bg-black text-white px-8 py-4">Custom</div>
                <div class="bg-placeholder px-8 py-4">white</div>

                <div class="sticky top-0 bg-black text-white px-8 py-4">Gamma-500</div>
                <div class="bg-slate-500 px-8 py-4">text-slate-500</div>
                <div class="bg-gray-500 px-8 py-4">text-gray-500</div>
                <div class="bg-zinc-500 px-8 py-4">text-zinc-500</div>
                <div class="bg-neutral-500 px-8 py-4">text-neutral-500</div>
                <div class="bg-stone-500 px-8 py-4">text-stone-500</div>
                <div class="bg-red-500 px-8 py-4">text-red-500</div>
                <div class="bg-orange-500 px-8 py-4">text-orange-500</div>
                <div class="bg-amber-500 px-8 py-4">text-amber-500</div>
                <div class="bg-yellow-500 px-8 py-4">text-yellow-500</div>
                <div class="bg-lime-500 px-8 py-4">text-lime-500</div>
                <div class="bg-green-500 px-8 py-4">text-green-500</div>
                <div class="bg-emerald-500 px-8 py-4">text-emerald-500</div>
                <div class="bg-teal-500 px-8 py-4">text-teal-500</div>
                <div class="bg-cyan-500 px-8 py-4">text-cyan-500</div>
                <div class="bg-sky-500 px-8 py-4">text-sky-500</div>
                <div class="bg-blue-500 px-8 py-4">text-blue-500</div>
                <div class="bg-indigo-500 px-8 py-4">text-indigo-500</div>
                <div class="bg-violet-500 px-8 py-4">text-violet-500</div>
                <div class="bg-purple-500 px-8 py-4">text-purple-500</div>
                <div class="bg-fuchsia-500 px-8 py-4">text-fuchsia-500</div>
                <div class="bg-pink-500 px-8 py-4">text-pink-500</div>
                <div class="bg-rose-500 px-8 py-4">text-rose-500</div>
            </div>
        </div>
    </div>
</div>