<h3 class="mb-8 p-4 border-b-2 border-placeholder"><a id="<%= id %>" class="mr-4">#</a>Caret Color</h3>

<div class="bg-placeholder p-8 mb-8">
    <textarea placeholder="Click me..." class="text-sm p-2 w-full ring-1 ring-slate-900/10 shadow-sm rounded-md focus:outline-none focus:ring-2 focus:ring-rose-500 caret-rose-500" rows="2"></textarea>
</div>