<h3 class="mb-8 p-4 border-b-2 border-placeholder"><a id="<%= id %>" class="mr-4">#</a>Resize</h3>

<div class="bg-placeholder p-8 mb-8">
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-8">
        <div class="relative">
            <textarea placeholder="resize-none" class="resize-none text-sm p-2 w-full ring-1 ring-slate-900/10 shadow-sm rounded-md focus:outline-none focus:ring-2 focus:ring-rose-500 caret-rose-500" rows="2"></textarea>
        </div>
        <div class="relative">
            <textarea placeholder="resize-y" class="resize-y text-sm p-2 w-full ring-1 ring-slate-900/10 shadow-sm rounded-md focus:outline-none focus:ring-2 focus:ring-rose-500 caret-rose-500" rows="2"></textarea>
        </div>
        <div class="relative">
            <textarea placeholder="resize-x" class="resize-x text-sm p-2 w-full ring-1 ring-slate-900/10 shadow-sm rounded-md focus:outline-none focus:ring-2 focus:ring-rose-500 caret-rose-500" rows="2"></textarea>
        </div>
        <div class="relative">
            <textarea placeholder="resize" class="resize text-sm p-2 w-full ring-1 ring-slate-900/10 shadow-sm rounded-md focus:outline-none focus:ring-2 focus:ring-rose-500 caret-rose-500" rows="2"></textarea>
        </div>
    </div>
</div>