<h3 class="mb-8 p-4 border-b-2 border-placeholder"><a id="<%= id %>" class="mr-4">#</a>Blur</h3>

<div class="bg-placeholder p-8 mb-8">
    <div class="grid grid-cols-2 sm:grid-cols-4 gap-8">
        <% [
            'blur-none', 
            'blur-sm', 
            'blur', 
            'blur-md', 
            'blur-lg', 
            'blur-xl', 
            'blur-2xl', 
            'blur-3xl', 
        ].forEach(x => { %>
        <div>
            <div class="<%= x %> rounded mx-auto w-16 h-16 bg-center bg-cover bg-no-repeat" style="background-image: url('./images/radial.png')"></div>
            <div class="text-center mt-4"><%= x %></div>
        </div>
        <% }); %>
    </div>
</div>