<h3 class="mb-8 p-4 border-b-2 border-placeholder"><a id="<%= id %>" class="mr-4">#</a>Outline Style</h3>

<div class="bg-placeholder p-8 mb-8">
    <div class="grid grid-cols-4 gap-8">
        <% [
            'outline', 
            'outline-dashed', 
            'outline-dotted',
            'outline-double',
        ].forEach(x => { %>
        <div>
            <div class="<%= x %> outline-2 outline-offset-2 mx-auto w-16 h-16 p-8 bg-white"></div>
            <div class="text-center mt-4"><%= x %></div>
        </div>
        <% }); %>
    </div>
</div>