<h3 class="mb-8 p-4 border-b-2 border-placeholder"><a id="<%= id %>" class="mr-4">#</a>Margin</h3>

<div class="bg-placeholder mb-8">
    <div class="h-48 grid grid-cols-4">
        <div class="self-center w-24 h-24 bg-white">
            <div class="ml-6 w-full h-full">
                <div class="bg-black w-full h-full text-white flex items-center justify-center">ml-6</div>
            </div>
        </div>

        <div class="self-start w-24 h-24 bg-white">
            <div class="mt-2 w-full h-full">
                <div class="bg-black w-full h-full text-white flex items-center justify-center">mt-2</div>
            </div>
        </div>

        <div class="self-end w-24 h-24 bg-white">
            <div class="mb-4 w-full h-full">
                <div class="bg-black w-full h-full text-white flex items-center justify-center">mb-4</div>
            </div>
        </div>

        <div class="justify-self-end w-24 h-24 bg-white">
            <div class="mr-8 w-full h-full">
                <div class="bg-black w-full h-full text-white flex items-center justify-center">mr-8</div>
            </div>
        </div>
    </div>
    <div class="text-center mt-4">Top/Left/Right/Bottom</div>
</div>

<div class="bg-placeholder p-8 mb-8">
    <div class="w-24 h-24 bg-white">
        <div class="px-6 w-full h-full">
            <div class="bg-black w-full h-full text-white flex items-center justify-center">px-6</div>
        </div>
    </div>
    <div class="text-center mt-4">Horizontal</div>
</div>

<div class="bg-placeholder p-8 mb-8">
    <div class="w-24 h-24 bg-white">
        <div class="py-6 w-full h-full">
            <div class="bg-black w-full h-full text-white flex items-center justify-center">py-6</div>
        </div>
    </div>
    <div class="text-center mt-4">Vertical</div>
</div>

<div class="bg-placeholder p-8 mb-8">
    <div class="w-24 h-24 bg-white">
        <div class="p-6 w-full h-full">
            <div class="bg-black w-full h-full text-white flex items-center justify-center">p-6</div>
        </div>
    </div>
    <div class="text-center mt-4">All sides</div>
</div>
