<h3 class="mb-8 p-4 border-b-2 border-placeholder"><a id="<%= id %>" class="mr-4">#</a>Padding</h3>

<div class="bg-placeholder p-8 mb-8">
    <div class="grid grid-cols-4 gap-8">
        <div class="w-24 h-24 bg-white">
            <div class="pt-6 w-full h-full">
                <div class="bg-black w-full h-full text-white flex items-center justify-center">pt-6</div>
            </div>
        </div>

        <div class="w-24 h-24 bg-white">
            <div class="pl-2 w-full h-full">
                <div class="bg-black w-full h-full text-white flex items-center justify-center">pl-2</div>
            </div>
        </div>

        <div class="w-24 h-24 bg-white">
            <div class="pr-4 w-full h-full">
                <div class="bg-black w-full h-full text-white flex items-center justify-center">pr-4</div>
            </div>
        </div>

        <div class="w-24 h-24 bg-white">
            <div class="pb-8 w-full h-full">
                <div class="bg-black w-full h-full text-white flex items-center justify-center">pb-8</div>
            </div>
        </div>
    </div>
    <div class="text-center mt-4">Top/Left/Right/Bottom</div>
</div>

<div class="bg-placeholder p-8 mb-8">
    <div class="w-24 h-24 bg-white">
        <div class="px-6 w-full h-full">
            <div class="bg-black w-full h-full text-white flex items-center justify-center">px-6</div>
        </div>
    </div>
    <div class="text-center mt-4">Horizontal</div>
</div>

<div class="bg-placeholder p-8 mb-8">
    <div class="w-24 h-24 bg-white">
        <div class="py-6 w-full h-full">
            <div class="bg-black w-full h-full text-white flex items-center justify-center">py-6</div>
        </div>
    </div>
    <div class="text-center mt-4">Vertical</div>
</div>

<div class="bg-placeholder p-8 mb-8">
    <div class="w-24 h-24 bg-white">
        <div class="p-6 w-full h-full">
            <div class="bg-black w-full h-full text-white flex items-center justify-center">p-6</div>
        </div>
    </div>
    <div class="text-center mt-4">All sides</div>
</div>
