<h3 class="mb-8 p-4 border-b-2 border-placeholder"><a id="<%= id %>" class="mr-4">#</a>Margin</h3>

<div class="bg-placeholder p-8 mb-8">
    <div class="flex space-x-4">
        <div class="p-4 bg-white">01</div>
        <div class="p-4 bg-white">02</div>
        <div class="p-4 bg-white">03</div>
        <div class="p-4 bg-white">04</div>
    </div>
    <div class="text-center mt-4">Between</div>
</div>