<h2 class="mb-8 p-4 border-b-2 border-placeholder"><a id="<%= id %>" class="mr-4">#</a>Basis</h2>
<div class="flex flex-row gap-8">
    <div class="basis-1/4 p-4 flex items-center justify-center bg-placeholder">25%</div>
    <div class="basis-1/4 p-4 flex items-center justify-center bg-placeholder">25%</div>
    <div class="basis-1/2 p-4 flex items-center justify-center bg-placeholder">50%</div>
</div>