<h2 class="mb-8 p-4 border-b-2 border-placeholder"><a id="<%= id %>" class="mr-4">#</a>Box Sizing</h2>
<div class="columns-1 sm:columns-2 gap-8 text-center">
    <div class="p-32 bg-placeholder">
        <div class="box-border bg-white h-32 w-32 p-4 border-4">border</div>
    </div>
    <div class="p-32 bg-placeholder">
        <div class="box-content bg-white h-32 w-32 p-4 border-4">content</div>
    </div>
</div>