<h2>Break After</h2>
<p>this has limited support so might not work on some browsers. Working property, should break the columns after the first one. At the time of writing this, Chrome has support, but Firefox does not. Please reffer to <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/break-after">mozilla dev docs</a> for more info.</p>

<div class="columns-2 gap-8 text-center">
    <p class="p-32 break-after-column bg-placeholder text-placeholder">First</p>
    <p class="p-32 bg-placeholder text-placeholder mt-8">Second</p>
    <p class="p-32 bg-placeholder text-placeholder">Third</p>
    <p class="p-32 bg-placeholder text-placeholder mt-8">Forth</p>
</div>