<h2>Floats</h2>
<div class="grid grid-cols-1 sm:grid-cols-2 gap-8">
    <div>
        <img width="256" height="256" class="placeholder-256x256 float-left mr-2">
        <h3>Left</h3>
        <br>
        <p class="lorem"></p>
    </div>
    <div>
        <img width="256" height="256" class="placeholder-256x256 float-right ml-2">
        <h3>Right</h3>
        <br>
        <p class="lorem"></p>
    </div>
    <div>
        <img width="128" height="128" class="placeholder-256x256 float-left mr-2">
        <img width="256" height="256" class="placeholder-256x256 float-right ml-2">
        <h3 class="clear-left">Clear Left</h3>
        <br>
        <p class="lorem"></p>
    </div>
    <div>
        <img width="256" height="256" class="placeholder-256x256 float-left mr-2">
        <img width="128" height="128" class="placeholder-256x256 float-right ml-2">
        <h3 class="clear-right">Clear right</h3>
        <br>
        <p class="lorem"></p>
    </div>
</div>