<h2>Isolation</h2>

<div class="columns-1 sm:columns-2 gap-8 text-center">
    <div class="bg-placeholder p-32">
        <div class="isolation-auto">
            <div class="p-8 mix-blend-difference bg-placeholder">Auto</div>
        </div>
    </div>
    <div class="bg-placeholder p-32">
        <div class="isolate">
            <div class="p-8 mix-blend-difference bg-placeholder">Isolate</div>
        </div>
    </div>
</div>