<h2>Object position</h2>
<div class="grid grid-cols-1 sm:grid-cols-3 gap-8">
    <div class="bg-black p-8">
        <div class="w-32 h-32 mx-auto">
            <img src="images/radial.png" class="object-none object-left-top relative w-full h-full bg-gradient-to-r from-orange-500 to-blue-500" />
        </div>
        <div class="text-center text-white mt-4">Left-Top</div>
    </div>

    <div class="bg-black p-8">
        <div class="w-32 h-32 mx-auto">
            <img src="images/radial.png" class="object-none object-top relative w-full h-full bg-gradient-to-r from-orange-500 to-blue-500" />
        </div>
        <div class="text-center text-white mt-4">Top</div>
    </div>

    <div class="bg-black p-8">
        <div class="w-32 h-32 mx-auto">
            <img src="images/radial.png" class="object-none object-right-top relative w-full h-full bg-gradient-to-r from-orange-500 to-blue-500" />
        </div>
        <div class="text-center text-white mt-4">Right-Top</div>
    </div>

    <div class="bg-black p-8">
        <div class="w-32 h-32 mx-auto">
            <img src="images/radial.png" class="object-none object-left relative w-full h-full bg-gradient-to-r from-orange-500 to-blue-500" />
        </div>
        <div class="text-center text-white mt-4">Left</div>
    </div>

    <div class="bg-black p-8">
        <div class="w-32 h-32 mx-auto">
            <img src="images/radial.png" class="object-none object-center relative w-full h-full bg-gradient-to-r from-orange-500 to-blue-500" />
        </div>
        <div class="text-center text-white mt-4">Center</div>
    </div>

    <div class="bg-black p-8">
        <div class="w-32 h-32 mx-auto">
            <img src="images/radial.png" class="object-none object-right relative w-full h-full bg-gradient-to-r from-orange-500 to-blue-500" />
        </div>
        <div class="text-center text-white mt-4">Right</div>
    </div>

    <div class="bg-black p-8">
        <div class="w-32 h-32 mx-auto">
            <img src="images/radial.png" class="object-none object-left-bottom relative w-full h-full bg-gradient-to-r from-orange-500 to-blue-500" />
        </div>
        <div class="text-center text-white mt-4">Left-Bottom</div>
    </div>

    <div class="bg-black p-8">
        <div class="w-32 h-32 mx-auto">
            <img src="images/radial.png" class="object-none object-bottom relative w-full h-full bg-gradient-to-r from-orange-500 to-blue-500" />
        </div>
        <div class="text-center text-white mt-4">Bottom</div>
    </div>

    <div class="bg-black p-8">
        <div class="w-32 h-32 mx-auto">
            <img src="images/radial.png" class="object-none object-right-bottom relative w-full h-full bg-gradient-to-r from-orange-500 to-blue-500" />
        </div>
        <div class="text-center text-white mt-4">Right-Bottom</div>
    </div>
</div>