<h2>Overscroll</h2>
<div class="bg-placeholder p-8">
    <div class="overflow-auto overscroll-contain h-48">
        <p class="lorem"></p>
        <p class="lorem"></p>
    </div>
    <div class="text-center mt-4">Contain</div>
</div>

<div class="bg-placeholder p-8 mt-8">
    <div class="overflow-auto overscroll-auto h-48">
        <p class="lorem"></p>
        <p class="lorem"></p>
    </div>
    <div class="text-center mt-4">Auto</div>
</div>