<h2>Position</h2>
<div class="grid grid-cols-1 sm:grid-cols-2 gap-8">
  <div class="relative">
    <div class="relative">
      <div class="bg-placeholder p-4">
        <div class="static p-32 bg-white">
          <p class="text-center">Static parent</p>
          <div class="absolute bottom-0 left-0 bg-black text-white p-8">
            <p>Absolute child</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="relative">
    <div class="relative">
      <div class="bg-placeholder p-4">
        <div class="relative p-32 bg-white">
          <p class="text-center">Relative parent</p>
          <div class="absolute bottom-0 left-0 bg-black text-white p-8">
            <p>Absolute child</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="relative">
    <div class="relative">
      <div class="bg-placeholder p-4">
        <div class="p-32 bg-white">
          <p class="text-center">Relative parent</p>
          <div class="absolute bottom-0 left-0 bg-black text-white p-8">
            <p>Fixed child</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="relative h-[312px]">
    <div class="relative h-full bg-placeholder p-4">
      <div class="overflow-y-auto h-full">
        <div class="sticky top-0 bg-black text-white px-8 py-4">A</div>
        <div class="bg-white px-8 py-4">Amando</div>
        <div class="bg-white px-8 py-4">Amelia</div>
        <div class="bg-white px-8 py-4">Anders</div>
        <div class="bg-white px-8 py-4">Ansi</div>
        <div class="bg-white px-8 py-4">Anton</div>
        <div class="bg-white px-8 py-4">Anty</div>
        <div class="bg-white px-8 py-4">Augustina</div>
        <div class="sticky top-0 bg-black text-white px-8 py-4">B</div>
        <div class="bg-white px-8 py-4">Bambi</div>
        <div class="bg-white px-8 py-4">Ben</div>
        <div class="bg-white px-8 py-4">Borro</div>
        <div class="bg-white px-8 py-4">Brad</div>
      </div>
    </div>
  </div>
</div>
