<h3 class="mb-8 p-4 border-b-2 border-placeholder"><a id="<%= id %>" class="mr-4">#</a>Flow</h3>
<div class="bg-placeholder p-8 mb-8 text-center">
    <div class="grid grid-flow-row-dense grid-cols-3 grid-rows-3 gap-8">
        <div class="col-span-2 bg-white p-8">01</div>
        <div class="col-span-2 bg-white p-8">02</div>
        <div class="bg-white p-8">03</div>
        <div class="bg-white p-8">04</div>
        <div class="bg-white p-8">05</div>
    </div>
    <div class="text-center mt-4">Auto</div>
</div>