<h3 class="mb-8 p-4 border-b-2 border-placeholder"><a id="<%= id %>" class="mr-4">#</a>Row</h3>
<div class="bg-placeholder p-8 mb-8 text-center">
    <div class="grid grid-rows-4 grid-flow-col gap-8">
        <div class="bg-white p-8">01</div>
        <div class="bg-white p-8">02</div>
        <div class="bg-white p-8">03</div>
        <div class="bg-white p-8">04</div>
        <div class="bg-white p-8">05</div>
        <div class="bg-white p-8">06</div>
        <div class="bg-white p-8">07</div>
        <div class="bg-white p-8">08</div>
        <div class="bg-white p-8">09</div>
    </div>
    <div class="text-center mt-4">Count</div>
</div>

<div class="bg-placeholder p-8 mb-8 text-center">
    <div class="grid grid-rows-3 grid-flow-col gap-8">
        <div class="row-span-3 bg-white p-8">01</div>
        <div class="col-span-2 bg-white p-8">02</div>
        <div class="row-span-2 col-span-2 bg-white p-8">03</div>
    </div>
    <div class="text-center mt-4">Spanning</div>
</div>

<div class="bg-placeholder p-8 mb-8 text-center">
    <div class="grid grid-rows-3 grid-flow-col gap-8">
        <div class="row-start-2  row-span-2 bg-white p-8">01</div>
        <div class="row-end-3 row-span-2 bg-white p-8">02</div>
        <div class="row-start-1 row-end-4 bg-white p-8">03</div>
    </div>
    <div class="text-center mt-4">Start/End</div>
</div>